.products {
 position: relative;
 left: 0;
 top: 0;
  font-size: 20px;
 margin: 10px;
  display: flex;
  font-weight: bolder;
  
}

.tabs {
  margin-top: 10px;
  height: 50%;
  width: fit-content;
  display: flex;
}