.Tab_Component {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.tabLayout {
  
    position: relative;
    text-align: center;
    color: white;
    
    
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.tabLayout:active {
    font-weight: bolder;
}


